.button_logscreen {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-background-radius: 16px;
}

.button_annonces {
  -fx-background-color:  #203447;
  -fx-text-fill: white;
  -fx-background-radius: 16px;}